<!DOCTYPE html>
<html>
<head>
  <title>EvilPinternet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript"> $(function ()
		{ $("#myModal").modal({show:false });
	</script>
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'pages/login_modal' %>
<%= render 'pages/sign_up_modal' %>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>
